body {
    background: rgb(255, 250, 234);
    color: #333;
    font-family: Lato, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: rgb(248, 255, 230);
    position: fixed;
    top: 0;
    width: 100%;
}

h4 {
    font-size: 20px;
    color: rgb(141, 16, 16);
}

.navbar a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

h2 {
    text-align: center;
}

#clock {
    font-size: 25px;
}

.input11 {
    margin-left: 30%;
}

.inputValue {
    width: 25%;
    padding: 10px;
    float: left;
    margin-left: 30%;
    font-size: 16px;
}

.container {
    display: block;
    width: 400px;
    margin: 10px auto 0;
}

ul {
    margin: 0;
    padding: 0;
}

li * {
    float: left;
}

li,
h3 {
    clear: both;
    list-style: none;
}

input,
button {
    outline: none;
}

.button1 {
    padding: 8px;
    margin-left: 5px;
    width: 20%;
    background: #ffffff;
    color: rgb(8, 8, 8);
    float: left;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: none;
}

#button2,
.button3 {
    padding: 8px;
    margin-left: 40%;
    width: 15%;
    background: #16115c;
    color: rgb(255, 255, 255);
    float: center;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: none;
}

button {
    background-color: rgb(239, 255, 234);
    border: 2px;
    color: rgb(8, 8, 8);
    font-size: 15px;
    width: 50px;
    margin: 10px 0 0;
    font-family: Lato, sans-serif;
    cursor: pointer;
    padding-left: 4px;
}

button:hover {
    color: #333;
}

#preview_gif {
    margin-left: 30%;
}

h3,
label[for='new-task'] {
    color: rgb(141, 16, 16);
    font-weight: 700;
    font-size: 15px;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.display {
    text-align: center;
}

input[type="text"] {
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    padding: 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    font-family: Lato, sans-serif;
    color: #888;
}

input[type="text"]:focus {
    color: #333;
}

label[for='new-task'] {
    display: block;
    margin: 0 0 20px;
}

input#new-task {
    float: left;
    width: 318px;
}

p>button:hover {
    color: #fc0000;
}

li {
    overflow: hidden;
    padding: 20px 0;
}

li>input[type="checkbox"] {
    margin: 0 10px;
    position: relative;
    top: 15px;
}

li>label {
    font-size: 18px;
    line-height: 40px;
    width: 237px;
    padding: 0 0 0 11px;
}

li>input[type="text"] {
    width: 226px;
}

li>.delete:hover {
    color: #CF2323;
}

#completed-tasks label {
    text-decoration: line-through;
    color: rgb(87, 85, 85);
}

ul li input[type=text] {
    display: none;
}

ul li.editMode input[type=text] {
    display: block;
}

ul li.editMode label {
    display: none;
}

@media screen and (min-width: 700px) {
    .flex-container {
        display: flex;
    }
    .two {
        margin-left: 20%;
    }
    #preview_gif {
        margin-left: 42%;
    }
    .button1 {
        width: 15%;
    }
    .input11 {
        margin-left: 40%;
    }
}