h1{
    text-align: center;
}
form {
    border: 1px solid #000000;
   
  }
  .fo{
      margin: 5% 10% 5% 23%;
      width: 80%;
      }
  .fo1{
    margin: 5% 15% 5% 20%;
    width: 70%;
  }
  .enter{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(41, 31, 2);
    box-sizing: border-box;
  }
  
 
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  
  button:hover {
    opacity: 0.8;
  }

  .container {
    padding: 16px;
  }
 

a{
 text-decoration: none;
}
  .header {
    background-color: #ebe5e4;
    padding: 30px 40px;
    color: rgb(34, 33, 33);
    text-align: center;
  }
  

  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  .input1 {
    border: none;
    width: 50%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
.inputValue{
  
  width: 50%;
  padding: 10px;
  float: left;
  margin-left: 10%;
  font-size: 16px;
}


  .addBtn {
    padding: 10px;
    width: 25%;
    background: #660c0c;
    color: rgb(247, 242, 242);
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1;
  }
  .button1{
    padding: 10px;
    width: 25%;
    background: #032955;
    color: rgb(247, 242, 242);
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 1;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }
  
  
 
  .na{
    position:relative
  }
  .nav{
      text-align: center;
  }
  h3{
      text-align: center;
  }
  .container {
    position: relative;
    text-align: center;
    color: rgb(117, 17, 17);
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .text{
    margin-left: 40;
  }
  .text1{
    margin-left: 20%;
  }
  
  @media screen and (min-width: 1000px) {
    .img{
      height: 800px;
    }
    .img1{
      height: 1200px;
    }
    body{
      font-size: 20px;
    }
  }